* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Playfair Display SC', serif;
}

header > div {
  background-color: white;
  border: 0 solid;
  padding: 20px;
}

h1{
  font-size: 100px;
  color: black;
  margin: 0;
}

h2 {
margin: 0;
}

nav {
  padding: 20px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  
}

.main-link {
  border-radius: 1rem;
  border: 1px solid black;
  padding: 5px 10px;
  text-decoration: black;
  color: black;
}

.donate-link {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

main {
  background-color: rgba(92, 184, 255, 1);
  border: 1px solid;
}

.first-main {
  position: relative;
  min-height: 50vh;
}

h3 {
  font-size: 58px;
  margin: 0;
}

h4 {
  font-size: 26px;
  margin: 0;
}

.main-main {
  display: flex;
  flex-direction: row;
}

footer {
background-color: white;
justify-content: center;
}

.main-footer {
  margin: auto;
  width: 50%;
}

.second-footer {
  display: flex;
  justify-content: center;
  
}