* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header > div {
  background-color: white;
  border: 0 solid;
  padding: 20px;
}

h1{
  font-size: 100px;
  color: black;
  margin: 0;
}

h2 {
margin: 0;
}

nav {
  padding: 20px;
  border: 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  
}

.main-link {
  border-radius: 1rem;
  border: 1px solid black;
  padding: 5px 10px;
  text-decoration: black;
  color: black;
}

main {
  background-color: rgba(92, 184, 255, 1);
  border: 1px solid;
}

h3 {
  font-size: 88px;
}

h4 {
  font-size: 46px;
}

.main-main {
  display: flex;
  flex-direction: row;
}


.main-footer {
  margin: auto;
  width: 50%;
}